.popup__input-error {
    text-align: left;
    color: red;
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 400;
    transition: 0.3s;
    margin: 5px 0 13px;
}

.popup__input-error:last-of-type {
    margin-bottom: 0;
}