.element__delete-button {
    background-image: url(../../../images/delete.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 18px;
    height: 19.3px;
    right: 20px;
    top: 20px;
    cursor: pointer;
    border: none;
}

.element__delete-button:hover {
    opacity: 60%;
}