.popup__name-edit {
    border: 0;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    width: 358px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0 13px 0;
    margin-bottom: 30px;
}

@media screen and (max-width: 650px) {
    .popup__name-edit {
     width: 238px;
    }
}